*.exe
x64/
Assignment1/x64/
Assignment1.VC.VC.opendb
*.db
*.opendb
Assignment1/x64
x64
.vs

Assignment1/x64/Debug/Assignment1.log
Assignment1/x64/Debug/Assignment1.tlog/Assignment1.lastbuildstate
.vs/Assignment1/v14/.suo
x64/Debug/Assignment1.ilk
x64/Debug/Assignment1.pdb
Dependencies/*
x64/*
Debug/*
.DS_Store*
._.DS_Store*